.root {    
    width: 100%;
    height: 100%;
    justify-content: center;
    align-content: center;
    background-color: #262626;
}

.button {
    width: 300px;
    height: 150px;
    align-items: center;
    align-self: center;
    border-radius: 15px;
    border-width: 0;
    font-size: 30px;
    background-color: #404040;
    color: white;
}